<div class="bg-[#ff9400] mt-0 pt-[20px] pr-[20px] pb-[20px] pl-[40px]">
    {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="text-white hover:text-white visited:text-white
            float-right hover:float-right visited:float-right
            text-[26pt] hover:text-[26pt] visited:text-[26pt]
            mr-[20px] hover:mr-[20px] visited:mr-[20px]">➕</a>
    {% endif %}
    <h1>
        <a href="/" class="text-white hover:text-white visited:text-white 
            text-[36pt] hover:text-[36pt] visited:text-[36pt] 
            no-underline hover:no-underline visited:no-underline">Django Girls Blog</a>
    </h1>
</div>
