{% extends "base.html" %}

{% block body %}
    <div class="ml-[40px]">
    {% for post in posts %}
        <div class="mb-[70px]">
            <p class="text-[#828282]">published: {{ post.published_date }}</p>
            <h1><a href={% url 'post_detail' pk=post.pk %}>{{ post.title }}</a></h1>
            <p class="text-slate-500 break-all">{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
